.create-container { 
    display: flex;
    justify-content: center;
    align-content: center;
    color: palegoldenrod;
    height:100vh;
    background-image: url(http://cdn26.us1.fansshare.com/photo/gamewallpapers/super-mario-level-wallpaper-am-gamer-wallpapers-607911785.jpg);
    background-attachment: fixed;
    background-size: scroll;
    filter: grayscale(100%);
}
